.blog {
  height: 100vh;
  background-size: cover;
  padding: 0px;
  display: flex;
  justify-content: center;
      padding-left: 20rem;

  flex-direction: column;
  margin: 0px;
  background-image: url("../media/slide3.jpg");
}

.blog-title{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 0px;
    color: white;
}

.blog-content{
    text-align: left;
    font-size: .9rem;
    width: 20%;
    color: white;
}