.package-details-page{
    background-color: white;
}


.details-hero- {
    height: 30rem;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    jys
    background-color: #f8f9fa;
}