.package-details-page {
  background-color: white;
}

.destination_deatils_name {
  width: 100%;
  /* background-color: blue; */
  width: 30rem;
}

.details-hero- {
  height: 23rem;
  background-size: cover;
  background-position: center;
  position: relative;
  /* background-color: red; */
  display: flex;
  background-color: #f8f9fa;
}

.hero-content-destination {
      padding-top: 5rem;
    padding-left: 4rem;
    align-content: center
}

.hero-content-destination > h1 {
  font-size: 4rem;
  margin: 0 0 10px;
  font-weight: bolder;
  font-weight: 700;
}
