.package-details-page{
    background-color: white;
}


.details-hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #f8f9fa;
}