@media screen and (max-width: 768px) {
    .content-container {
      padding: 0 5%;
      width: unset !important;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    }

    .packages-page {
    min-height: 100vh;
    background-color: #f8f9fa;
    width: 100vw !important;
}

    .details-content {
    padding: 15px 15px !important;
    max-width: 100% !important;
    margin: 0 0 !important;
}

.ev-header-container {
    background-size: conatin;
    padding: 2rem 1rem;
    background-color: #f7f7f7;
    height: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ev-mission-content {
    margin: 3rem 1rem 16px;
    display: flex;
    flex-direction: column;
}

.ev-solution-content {
    margin: 0 auto;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.ev-team-container {
    margin: 1rem 2rem;
    background-color: #ffffff;
}

.ev-partners-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: left !important;
  }

.ev-mission-container {
    padding: 3rem 1rem;
    background-color: #ffffff;
}

.thumbnail-container {
    display: flex;
    gap: 0px !important;
}

.package-details-book-now-button {
    width: 100%;
    background-color: #168D61 !important;
    color: white;
    border-color: transparent;
    padding: 12px;
    border-radius: 30px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.hero-content {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  padding: 0 30px;
}

.packages-header {
    font-size: 1.8rem !important;
    font-weight: 700 !important;
    color: white;
    line-height: 1.2;
    margin-bottom: 1rem;
}

  /* .hero-content {
    padding: 0 20px;
    bottom: 40px;
  } */

.packages-hero {
    height: 44rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: white;
}

.package-details-price-value {
    font-size: 1.2rem !important;
    font-weight: 700;
    color: #168D61;
    margin-right: 5px;
}

.packages-header{
width: 100%;
}

.thumbnail {
  width: 64px;
    height: 60px;
  }


.main-image {
    position: relative;
    height: 24rem !important;
    width: 24rem !important;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

    .stat-number {
    font-size: 2rem !important;
  }

  .header-packages {
    margin-left: .0rem;
}


  .mobile-language-switcher {
    margin-top: 30px;
    /* display: flex
; */
    /* justify-content: left; */
}

  .cta-section {
    margin: 40px 12px;
    max-width: 1200px;
}
  
    .logo-text {
        font-size: 10px;
        }
  
    .tagline {
      font-size: 1rem;
    }


    #coming-soon {
        font-size: 2em;
        margin-top: .2rem;
    }
  
    #desc {
        width: 100%;
        font-size: small;
        margin-top: 10px;
        /* text-align: justify;
        word-spacing: -2px; */
    }

    
    .newsletter-container {
        margin: 10px 0;

    padding-bottom: 2rem;
        max-width: 500px;
      }

      .newsletter-form {

      }
  
      .input-group {
        width: 100%;
      }


      .slider{
        background-size: contain ;
        background-position: right;
      }

      
      .slide{
        background-size: cover ;
        background-position: center;
      }

      .image-grid {
        display: flex !important;
        height: fit-content;
        width: 100%;
        align-self: center;
        border-radius: 10px;
        gap: 10px;
        padding: 10px;
        /* margin-top: 1rem; */
        flex-direction: row;
        /* background-color: red; */
    }

    #cube-one{
    background-image: url("./media/grid/grid1.JPG") !important;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat;
    }

    #cube-two{
        background-image: url("./media/grid/grid2.jpg") !important;
        background-size: cover;
        background-position: center !important;

        background-repeat: no-repeat;
        }

        
        #cube-three{
            background-image: url("./media/grid/grid4.jpg") !important;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center !important;
            }
        

            
    #cube-four{
        background-image: url("./media/grid/grid5.jpg") !important;
        background-size: cover;
        background-position: center !important;
        background-repeat: no-repeat;
        }
    
        #cube-five{
            background-image: url("./media/grid/grid3.jpg") !important;
            background-size: cover;
            background-position: center !important;
    
            background-repeat: no-repeat;
            }
    
            
            #cube-six{
                background-image: url("./media/grid/grid6.jpg") !important;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center !important;
                }
        
    .image-sec {
        background-color: rgb(20, 20, 21);
        width: 100%;
        height: 10rem;
        border-radius: 10px;
    }


.destinations-hero p {
    opacity: 0.9;
    font-size: 0.9rem;
    color: #ada8a8;
    margin: 0;
    max-width: 600px;
}    

.gallery-hero {
    height: 44rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("./media/grid5.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: white;
}

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .details-content {
    padding: 40px 20px;
  }

  .package-details-form-row {
    flex-direction: column;
    gap: 0;
  }

  .package-details-reviews-container {
    grid-template-columns: 1fr;
  }


  .destinations-hero h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    width: 100% ;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}


  .dest-header-content {
    max-width: 100% !important;
    margin: 0 auto;
}

  .destinations-hero {
    height: 500px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)), url('./media/ants.jpg');
    background-position: center;
    position: relative;
    height: 44rem;
    background-attachment: fixed;
    color: white;
}

/* ---------------------------________________________________________end of styles */
  }
  /* all mobile style stop here */
  .image-grid{
    display: none;
  }



  /* Responsive Styles */
@media (max-width: 992px) {
  .details-overview {
    grid-template-columns: 1fr;
  }

  .package-details-booking-card {
    position: static;
  }
}




@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .package-details-activities-grid {
    grid-template-columns: 1fr 1fr;
  }

  .destinations-list ul {
    grid-template-columns: 1fr;
  }
}
